@import 'vars.scss';
@import '~@primer/css/index.scss';
@import '~//at.alicdn.com/t/font_1601044_rs7l22vasp.css';
@import 'fonts.scss';

html, body, #app {
  background-color: $bg-color;
  min-height: 100vh;
  color: $color;
}

a {
  color: $primary;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

h1 {
  font-size: 46px;
  line-height: 1.2em;
}

h2 {
  font-size: 34px;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 22px;
  line-height: 1.2em;
}

h4 {
  font-weight: normal;
  font-size: 20px;
}

h1, h2, h3 {
  color: $black;
  font-family: $font-mktg;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

h6 {
  font-size: 15px;
  font-weight: 400;
}

.input-lg {
  padding: 0 8px;
  font-size: $body-font-size;
  height: 48px;
  line-height: 48px;
}

.flash {
  font-size: $font-size-small;
  border-radius: $border-radius;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-200;
  border: 0;
  background-clip: padding-box;

  &:hover {
    background-color: $gray-400;
  }
}

.vue-ui-loading-indicator {
  background-color: transparent !important;

  .animation {
    border-color: transparentize($primary, 0.8);
    border-width: 4px !important;
    width: 28px !important;
    height: 28px !important;
    border-right-color: $primary;
  }
}

.iconfont {
  font-size: 26px;
  line-height: 26px;
  vertical-align: text-bottom;
}

.border, [class*="border-"] {
  border-color: $border-color !important;
}

.btn-mktg, .btn-outline-mktg {
  text-align: center;
  padding: 0 26px;
  border-radius: 26px;
  height: 52px;
  font-size: 20px;
  line-height: 52px;
  display: inline-block;
  box-shadow: none !important;
}

.btn-mktg {
  background-color: $primary;
  border-color: $primary;

  &:hover, &:focus {
    background-color: $primary-100;
    border-color: $primary;
  }
}

.btn-outline-mktg {
  color: $black;
  background-color: transparent;
  border: 2px solid $border-color;

  &:hover {
    color: $primary;
    border-color: $primary;
  }
}

i.btn-mktg, i.btn-outline-mktg {
  font-size: 26px;
  min-width: 52px;
}

.form-control {
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 26px;
  background: $bg-input;
  border: none;
  color: white;
  font-size: 22px;
  min-height: 52px;
  width: 100% !important;
}

textarea {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  line-height: 1.4em !important;
}

.input-lg {
  background: $bg-input !important;
}

.eyebrow-mb-4 {
  letter-spacing: 2px;
  white-space: nowrap;
  padding-left: 70%; 
}

.eyebrow-mb-3{
  white-space: nowrap;
  padding-left: 50%;
}


.text-justify {
  text-align: justify;
}

label {
  font-weight: normal;
}

.flash {
  font-size: 20px;
  border: none;
  border-radius: 26px !important;
}

.text-primary {
  color: $primary;
}

// service //
.container {
	width: 100%;
	height: 100%;
	padding: 0px 3%;
}

.container h1 {
	text-align: center;
	padding-top: 10%;
	margin-bottom: 60px;
	font-weight: 600;
	position: relative;
}

.container h1::after {
	content: '';
	background: rgba(255, 0, 0, 0.664); /*_____*/
	width: 100px;
	height: 5px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
}

.row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
}

.service {
	text-align: center;
	padding: 25px 10px;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	background: transparent;
	transition: transform 0.5s, background 0.5s;
  
}

.service i {
	font-size: 40px;
	margin-bottom: 10px;
	color: #282d57(255, 0, 0, 0.664);
}

.service h2 {
	font-weight: 600;
	margin-bottom: 8px;
}

.service:hover {
	background: rgba(255, 0, 0, 0.664);
	color: #fff;
	transform: scale(1.05);
}

.service:hover i {
	color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');