@import "~primer-support/index.scss";

$primary: #01afef;
$primary-100: darken($primary, 5);
$bg-blue: $primary;
$color: #606060;
$bg-color: #d9dbdd;
$bg-input: darken($bg-color, 16);

$body-font: 'Calibre-Medium', Helvetica, Arial, sans-serif;
$font-mktg: 'Calibre-Semibold', Helvetica, Arial, sans-serif;
$body-font-size: 20px;
$border-radius: 6px;
$h1-size: 42px;
$btn-input-focus-shadow: none;
$font-size-small: 18px;
$border-color: darken($bg-color, 15);
